using UnityEngine;
{% for ns in extra_using %}using {{ ns }};
{% endfor %}{% for attr in attributes %}
{{ attr }}
{% endfor %}public class {{ class_name }} : MonoBehaviour
{
{% for field in serialized_fields %}
    [SerializeField] private {{ field.csharp_type }} {{ field.csharp_name }}{% if field.default %} = {{ field.default }}{% endif %};
{% endfor %}
{% for field in private_fields %}
    private {{ field.csharp_type }} {{ field.csharp_name }};
{% endfor %}
{% for field in static_fields %}
    public static {{ field.csharp_type }} {{ field.csharp_name }}{% if field.default %} = {{ field.default }}{% endif %};
{% endfor %}
{% for method in methods %}
    {{ method.access }} {{ method.return_type }} {{ method.csharp_name }}({{ method.params }})
    {
{{ method.body }}
    }
{% endfor %}
}
